version: "3.9"
services:
  reverse-proxy:
    # The official v2 Traefik docker image
    image: traefik:v2.9
    # Enables the web UI and tells Traefik to listen to docker
    command: --api.insecure=true --providers.docker
    ports:
      # The HTTP port
      - "80:80"
      # The Web UI (enabled by --api.insecure=true)
      - "8080:8080"
    volumes:
      # So that Traefik can listen to the Docker events
      - /var/run/docker.sock:/var/run/docker.sock

  static:
    build: ./apache-php-image
    deploy:
      replicas: 2
    labels:
      - "traefik.http.routers.static.rule=Host(`localhost`)"
      - "traefik.http.services.static.loadbalancer.sticky.cookie=true"      

  dynamic:
    build: ./express-image
    deploy:
      replicas: 2
    ports:
      - 3000
    labels:
      - "traefik.http.routers.dynamic.rule=Host(`localhost`) && PathPrefix(`/api`)"
      - "traefik.http.middlewares.dynamic-strip.stripprefix.prefixes=/api"
      - "traefik.http.routers.dynamic.middlewares=dynamic-strip@docker"
      
  management:
    build: ./management-image
    command: -H unix:///var/run/docker.sock
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
    deploy:
      replicas: 1
    ports:
      - 80
    labels:
      - "traefik.http.routers.management.rule=Host(`manage.localhost`)"   